.checked {
  position: relative !important;
  color: #fff !important;
  border-color: #00aeff !important;
  background-color: #00aeff !important;
}

.checked:after {
  position: absolute;
  z-index: 2;
  top: -15px;
  right: -15px;
  padding: 5px;
  font-size: 70%;
  border-radius: 4px;
  background-color: tomato;
  content: "Selected";
}
