.filter-box {
  max-width: auto;
}

.filter-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 240px auto;
  padding: 0 calc(50% - 800px);
}

.filter-left {
  padding: 2%;
  padding-left: 10px;
  border-radius: 10px;
}

.filter-right {
  padding: 2%;
  border-radius: 10px;
}

@media(min-width: 768px) {
  .mobile-page,
  .items-mobile {
    display: none;
  }
}
@media(max-width: 767px) {
  /* MOBILE VIEW */
  .mobile-page {
    display: grid;
    gap: 10px;
    grid-template-columns: auto;
    padding: 0 calc(50% - 500px);
    padding-left: 10px;
    padding-top: 15px;
  }

  .filter-grid {
    grid-template-columns: 1fr;
  }
  .filter-left,
  .filter-right,
  .top-col {
    display: none;
  }

  .view-buttons-mobile {
    padding: 0 calc(50% - 519px);
  }
  .top-col-filters {
    float: right;
  }
  .top-col-ordering {
    float: left;
  }
  .items-mobile{
    padding: 0 calc(50% - 500px);
  }
}
@media(min-width: 768px) and (max-width: 1256px) {
  .filter-left {
    width: 170px !important; 
  }
  .filter-grid {
    grid-template-columns: 170px auto; 
  }
  .cards-image-desktop {
    height: 200px !important;
  }
}
@media(max-width: 1083px) {
  .cards-desktop {
    width: 180px !important;
  }
}
@media(max-width: 796px) {
  .cards-desktop {
    width: 170px !important;
  }
  .cards-image-desktop {
    height: 195px !important;
  }
}

.top-col {
  margin-bottom: -10px;
}

.top-col-ordering-desktop {
  float: left;
}

.view-buttons-desktop {
  padding: 0 calc(50% - 519px);
  text-align: right;
}


.min-input-main {
  width: 65px !important;
}




/* STYLES */


.mr-2 {

}



